/* -------------------- Global Styling---------------- */
body{
  font-family: "Inter", sans-serif;

}
:root{
    --sec-color:#7C2D12;
    --main-color:#EA580B;
    --dark-main-color:#C3410D;
}
.main-color{
    color: var(--main-color)
}
.dark-main-color{
color: #C3410D;
}
.sec-color{
    color: var(--sec-color);
}
.label-bg{
    background-color: #FDEADE;
}
.fs-7{
    font-size: 14px;
}
.gradient-color1{
    background: linear-gradient(to right, var(--sec-color) 0%,var(--main-color)35%,var(--sec-color)100%);
    background-clip: text;
    color: transparent;
}
.gradient-color2{
    background: linear-gradient(to right, #FA903B 0%,var(--main-color)50%);
    background-clip: text;
    color: transparent;
}
.gradient-color3{
    background: linear-gradient(to right,var(--main-color) 0%, var(--dark-main-color) 50%);
    background-clip: text;
    color: transparent;
}
.p-color{
    color: #4A5565;
}

@media (min-width: 1536px) {
  .container,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1536px;
  }
}

/* ----------------Navbar Section----------------- */
nav{
    z-index: 100;
    .navbar-brand{
        span{
            background: linear-gradient(to right,var(--main-color) 0%, var(--dark-main-color) 50%);
            height: 40px;
            width: 40px;
        }
    }
    .navbar-brand:focus, .navbar-brand:hover{
            color: transparent !important;
        }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show,.navbar-nav .nav-link{
        color: #364152 !important;
        font-weight: 500;
    }
        .navbar-nav .nav-link.active:hover,.navbar-nav .nav-link:hover, .navbar-nav .nav-link.show:hover{
            color: var(--main-color) !important;
        }
    .navbar-nav .nav-link {
    position: relative;
    transition: color 0.3s ease;
    }

    .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 0;
    height: 2px;
    background-color: #FF6B35 !important;
    transition: width 0.3s ease;
    }

    .navbar-nav .nav-link:hover::before {
    width: 80%;
    }
    .btn{
        transition: all 0.3s ease;
    }
    .bt1:hover {
        color: var(--main-color);
    }
     .bt2{
     background: linear-gradient(to right,var(--main-color)0%,var(--dark-main-color)80%);
        
            }
    .bt2:hover{
     box-shadow: 0 8px 20px -8px var(--main-color);
            }
.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-nav .dropdown {
  position: static;
}

/* Mega Dropdown */
.mega-dropdown {
  position: absolute;
  left: 0;
  right: 0;
  width: 60vw;
  margin-left:10vw;
  border: none;
  background: white;
}

.mega-dropdown .section-title {
  color: #ff6b35;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.mega-dropdown ul li {
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
  border-radius: 12px;
}
.mega-dropdown ul {
span {
    background-color: #F8E5DE;
    transition: all 0.3s ease;
}
 .li1:hover span{
 transform: scale(1.15);
     background-color: #f7ded5;
 }
li:hover {
    background-color: #FAECE8;
}
}
.mega-dropdown ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.mega-dropdown ul li:hover a {
  color: #ff6b35;
}

.dropdown-toggle::after {
  border: none;
  content: '▼';
  font-size: 0.65rem;
  margin-left: 0.5rem;
}
.drop-bg{
    background-color: #FAECE8;
    .section-title{
        color: black;
    }

}

}
@media screen and (max-width: 992px){
    .my-bt{
        border:1px solid #E6E7EB !important;
        border-radius: 24px;
    }
}
 /*---------Main Section --------------------------*/
 main{
    background: linear-gradient(to bottom right,#FFF8EE,white,#FFF8EE);
    .main-l{
        h1{
            font-size: 60px;
            font-weight: 900;
        }
        .btn-wrap{
            .btn,i{
                transition: all 0.3s ease;
            }
             .bt1{
                background: linear-gradient(to right,var(--main-color)0%,var(--dark-main-color)80%);
        
            }
            .bt1:hover{
                transform: translateY(-10%);
                box-shadow: 0 12px 20px -8px var(--main-color);
            }
            .bt2{
                border-color: #6c757d59;
            }
            .bt2:hover{
                border-color: var(--main-color);
                color: var(--main-color) !important; 
                background-color: transparent;
                i{
                    color: var(--main-color) !important;
                }
            }
        }
    }
    .main-r{
        .img-b{
            width: 85%;
            height: 100%;
                background-color: #F9D9CC;
                transform: rotate(4deg);
            inset: 0;
                z-index: 1;
                left: 8%;
        }
        .img-tag1{
            padding: 36px;
            top: 0;
            right: 0;
            background: linear-gradient(to right,#F37A2A,var(--main-color));
        }
           .img-tag2{
            padding:30px 32px;
            bottom: -15px;
            left: 20px;
            background: linear-gradient(to bottom right,#C7430B,#E7560A);
        }
    }
 }




