/* -------------------- Global Styling---------------- */
body{
  font-family: "Inter", sans-serif;

}
:root{
    --sec-color:#7C2D12;
    --main-color:#EA580B;
    --dark-main-color:#C3410D;
  --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23EA580B' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
}
}
.main-color{
    color: var(--main-color)
}
.main-bg{
    background-color: var(--main-color);
}
.dark-main-color{
color: #C3410D;
}
.sec-color{
    color: var(--sec-color);
}
.label-bg{
    background-color: #FDEADE;
}
.fs-7{
    font-size: 14px;
}
.gradient-color1{
    background: linear-gradient(to right, var(--sec-color) 0%,var(--main-color)35%,var(--sec-color)100%);
    background-clip: text;
    color: transparent;
}
.gradient-color2{
    background: linear-gradient(to right, #FA903B 0%,var(--main-color)50%);
    background-clip: text;
    color: transparent;
}
.gradient-color3{
    background: linear-gradient(to right,var(--main-color) 0%, var(--dark-main-color) 50%);
    background-clip: text;
    color: transparent;
}
.p-color{
    color: #4A5565;
}

@media (min-width: 1536px) {
  .container,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1536px;
  }
}
.main-heading{
    h2{
        font-size: 48px;
        font-weight: 900;
    }
}

/* ----------------Navbar Section----------------- */
nav{
    z-index: 100;
    .navbar-brand{
        span{
            background: linear-gradient(to right,var(--main-color) 0%, var(--dark-main-color) 50%);
            height: 40px;
            width: 40px;
        }
    }
    .navbar-brand:focus, .navbar-brand:hover{
            color: transparent !important;
        }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show,.navbar-nav .nav-link{
        color: #364152 !important;
        font-weight: 500;
    }
        .navbar-nav .nav-link.active:hover,.navbar-nav .nav-link:hover, .navbar-nav .nav-link.show:hover{
            color: var(--main-color) !important;
        }
    .navbar-nav .nav-link {
    position: relative;
    transition: color 0.3s ease;
    }

    .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 0;
    height: 2px;
    background-color: #FF6B35 !important;
    transition: width 0.3s ease;
    }

    .navbar-nav .nav-link:hover::before {
    width: 80%;
    }
    .btn{
        transition: all 0.3s ease;
    }
    .bt1:hover {
        color: var(--main-color);
    }
     .bt2{
     background: linear-gradient(to right,var(--main-color)0%,var(--dark-main-color)80%);
        
            }
    .bt2:hover{
     box-shadow: 0 8px 20px -8px var(--main-color);
            }
.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-nav .dropdown {
  position: static;
}

/* Mega Dropdown */
.mega-dropdown {
  position: absolute;
  left: 0;
  right: 0;
  width: 60vw;
  margin-left:10vw;
  border: none;
  background: white;
}

.mega-dropdown .section-title {
  color: #ff6b35;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.mega-dropdown ul li {
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
  border-radius: 12px;
}
.mega-dropdown ul {
span {
    background-color: #F8E5DE;
    transition: all 0.3s ease;
}
 .li1:hover span{
 transform: scale(1.15);
     background-color: #f7ded5;
 }
li:hover {
    background-color: #FAECE8;
}
}
.mega-dropdown ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.mega-dropdown ul li:hover a {
  color: #ff6b35;
}

.dropdown-toggle::after {
  border: none;
  content: '▼';
  font-size: 0.65rem;
  margin-left: 0.5rem;
}
.drop-bg{
    background-color: #FAECE8;
    .section-title{
        color: black;
    }

}

}
@media screen and (max-width: 992px){
    .my-bt{
        border:1px solid #E6E7EB !important;
        border-radius: 24px;
    }
}
 /*---------Main Section --------------------------*/
 main{
    background: linear-gradient(to bottom right,#FFF8EE,white,#FFF8EE);
    .main-l{
        h1{
            font-size: 60px;
            font-weight: 900;
        }
        .btn-wrap{
            .btn,i{
                transition: all 0.3s ease;
            }
             .bt1{
                background: linear-gradient(to right,var(--main-color)0%,var(--dark-main-color)80%);
        
            }
            .bt1:hover{
                transform: translateY(-10%);
                box-shadow: 0 12px 20px -8px var(--main-color);
            }
            .bt2{
                border-color: #6c757d59;
            }
            .bt2:hover{
                border-color: var(--main-color);
                color: var(--main-color) !important; 
                background-color: transparent;
                i{
                    color: var(--main-color) !important;
                }
            }
        }
    }
    .main-r{
        .img-b{
            width: 85%;
            height: 100%;
                background-color: #F9D9CC;
                transform: rotate(4deg);
            inset: 0;
                z-index: 1;
                left: 8%;
        }
        .img-tag1{
            padding: 36px;
            top: 0;
            right: 0;
            background: linear-gradient(to right,#F37A2A,var(--main-color));
        }
           .img-tag2{
            padding:30px 32px;
            bottom: -15px;
            left: 20px;
            background: linear-gradient(to bottom right,#C7430B,#E7560A);
        }
    }
 }
/* ------------------------Solutions Section----------------------- */
.solutions{
    .card{
        border-color: #F3F4F6 !important;
        transition: all 0.5s ease;
        a i {
            transition: all 0.3s ease;
        }
    }
    a:hover{
        color: #c84701;
    }
    .card:hover{
        box-shadow: 5px 10px 20px -20px var(--main-color);
        transform: translateY(-20px);
        span{
            transform: scale(1.05);
        }
        a i{
            transform: translateX(20%);
        }
    }
    .card1{
        span{
            background: linear-gradient(to bottom right,#E3540C 0%,#C7430D 50%);
            width: 64px;
            height: 64px;
            transition: all 0.5s ease;
        }
    }
}
.card-bg2{
    background: linear-gradient(to bottom right,#F88835 0%,#EC6116 50%) !important;
}
.card-bg3{
    background: linear-gradient(to bottom right,#C74912 0%,#F48937 70%) !important;
}
.card-bg4{
    background: linear-gradient(to bottom right,#E1530A 0%,#C7430B 50%,#EF8233 80%) !important;
}
.card-bg5{
    background: linear-gradient(to bottom right,#F58937 0%,#C84A11 70%) !important;
}
.card-bg6{
    background: linear-gradient(to bottom right,#C6440B 0%, #E4550B 70%) !important;
}
/* ------------------------Technologies Section---------------------- */
.technologies{
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
                color: rgba(74, 85, 101, 1.00);
        font-size: 18px;
    }
    .nav-link{
    color: rgba(74, 85, 101, 1.00);
   font-size: 18px;
    }
    .nav-tabs .nav-link{
        border: none;
        border-bottom: 2px solid transparent;
        transition: all 0.5s ease;
        font-weight: 600;
        i{
            transition: all 0.5s ease;
        }
    }
    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover,.nav-tabs .nav-link.active{
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
        font-size: 18px;
        i{
            color: var(--main-color) !important;
        }
    }
    @media (min-width:1200px){
    .tab-content{
        padding:0px 5vw;
    }}
     .card {
        border: none;
        transition: all 0.2s ease;
        span{
         width: 64px;
        height: 64px;
    
        }

    }
    .card:hover{
        transform: translateY(-2%);
        box-shadow: 3px 9px 25px -20px black;
    }
}
.span-t{
    font-size: 12px;
    font-weight: 600;
}
.technologies .tab-pane {
    transform: translateY(20px);
    transition: opacity .4s ease, transform .4s ease;
}

.technologies .tab-pane.show {
    transform: translateY(0);
}
/* ---------------------- Clients Say Section----------------- */
.clients-say{
    background: linear-gradient(to bottom right,#F9FAFA 0%,#FEF7EE 50%);
    .carousel-item{
        hr{
            color: none;
            border: 1px solid #d7d7e0;
        }
        .title .check{
            width: 12px;
            height: 12px;
        }
    }
    .carousel-indicators{
        bottom: -70px;
        height: 30px;
        button{
            height: 8px;
            width: 8px;
            background-color: #D1D5DB;
            border-radius: 50%;
            transition: all 0.3s ease;
            cursor: pointer;
            border: none;
        }
        button:hover{
            background-color: var(--main-color);
            opacity: 0.5;
            width: 32px;
            border-radius: 4px;
        }
        
    }
    .carousel-indicators .active{
        background-color: var(--main-color);
    }
    .img-content{
        padding: 1.5px;
        width: 80px;
        height: 80px;
        border: 1px solid #FCDED2;
        border-radius: 50%;
        .check{
            width: 24px;
            height: 24px;  
            right: 3px;
            bottom: 3px;
            border: 1px solid white;
            background: linear-gradient(to bottom right,#C7430B,#E7560A);
        }
    }
    .linked{
        width: 14px;
        height: 14px;
    }
}
/* --------------------FAQ Section---------------- */
.FAQ{
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed,.accordion-button{
    width: 100% !important;
}
.accordion-button::after{
background-color: #FDEADE;
border-radius: 50%;
padding: 4px;

}
}



